﻿@model WebApplication11.viewmodel.BoockAuthermodel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>BoockAuthermodel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descrption" class="control-label"></label>
                <input asp-for="descrption" class="form-control" />
                <span asp-validation-for="descrption" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="idauther" class="control-label"></label>
                <!-- تذكر هاد السطر يعني عمفهمو انو هي القائمة الي عمتتمرقلك من قلب الكريت الي بالكنترولر-->
                <select asp-for="idauther" class="form-control" asp-items="@(new SelectList(Model.authers,"id","fullname"))"></select>
                <span asp-validation-for="idauther" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
