﻿@model WebApplication11.model.Boock

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Boock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.descrption)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.descrption)
        </dd>
    </dl>
    
    <form asp-action="ConfirmDelete" asp-route-id="@Model.id">
           <input type="submit" value="Delete" class="btn btn-danger" /> 
        
        <a asp-action="Index" class="btn btn-outline-danger">Back to List</a>
    </form>
</div>
