﻿@model WebApplication11.model.Boock

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Boock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.descrption)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.descrption)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.auther.fullname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.auther.fullname)
        </dd>
    </dl>
</div>
<div>
    <!--  @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |  -->
    <a asp-action="Edit" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-outline-info">Back to List</a>
</div>
