﻿@model WebApplication11.model.Auther

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Auther</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fullname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fullname)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-primary" /> 
        <a asp-action="Index" class="btn btn-outline-info">Back to List</a>
    </form>
</div>
