﻿@model WebApplication11.model.Auther

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Auther</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fullname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fullname)
        </dd>
    </dl>
</div>
<div>
    <!--    @Html.ActionLink("Edit", "Edit", new {  id = Model.id }) | -->
    <a asp-action="Edit" asp-route-id="@Model.id" class="btn btn-primary">Edite</a>
    <a asp-action="Index" class="btn btn-outline-info">Back to List</a>
</div>
